{% extends 'base.html.twig' %}
{% block title%}Single_Post{% endblock %}
{% block body%}
<div class="heading-page header-text">
</div>
<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
          <div class="col-lg-8">
            {% if post %}
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{asset('images/blog/' ~ post.image) }}" alt=""> 
                      
                    </div>
                    <div class="down-content">
                      <span>{{post.category.name}}</span>
                      <a href="post-details.html"><h4>{{post.title}}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{post.postUser.name}}</a></li>
                        <li><a href="#">{{post.publishedAt | date('d') }} {{ post.publishedAt | date('F') }}</a></li>
                        <li><a href="#">{{post.numComments}} Comments</a></li>
                      </ul>
                      <p>{{post.content}}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="#">Best Templates</a>,</li>
                              <li><a href="#">TemplateMo</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item comments">
                    <div class="sidebar-heading">
                      <h2>{{post.numComments}} comments</h2>
                    </div>
                    <div class="content">
                      <ul>
                      {% for comment in post.comments %}
                      {{ include ('partials/_comment.html.twig', {'comment': comment}) }}
                      {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item submit-comment">
                    <div class="sidebar-heading">
                      <h2>Your comment</h2>
                    </div>
                    <div class="content">
                      <form id="comment" action="#" method="post">
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              {# <input name="name" type="text" id="name" placeholder="Your name" required=""> #}
                              {{form_row(form.name)}}
                            </fieldset>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              {# <input name="email" type="text" id="email" placeholder="Your email" required=""> #}
                              {{form_row(form.email)}}
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              {# <textarea name="message" rows="6" id="message" placeholder="Type your comment" required=""></textarea> #}
                              {{form_row(form.text)}}
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              {# <button type="submit" id="form-submit" class="main-button">Submit</button> #}
                              {{form_row(form.Send)}}
                            </fieldset>
                          </div>
                        </div>
                        {{form_end(form)}}
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            <div class="all-blog-posts">
              <h1>No se ha encontrado el post {{slug}}</h1>
            </div>
            {% endif %}
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="post-details.html">
                          <h5>Vestibulum id turpis porttitor sapien facilisis scelerisque</h5>
                          <span>May 31, 2020</span>
                        </a></li>
                        <li><a href="post-details.html">
                          <h5>Suspendisse et metus nec libero ultrices varius eget in risus</h5>
                          <span>May 28, 2020</span>
                        </a></li>
                        <li><a href="post-details.html">
                          <h5>Swag hella echo park leggings, shaman cornhole ethical coloring</h5>
                          <span>May 14, 2020</span>
                        </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">- Nature Lifestyle</a></li>
                        <li><a href="#">- Awesome Layouts</a></li>
                        <li><a href="#">- Creative Ideas</a></li>
                        <li><a href="#">- Responsive Templates</a></li>
                        <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                        <li><a href="#">- Creative &amp; Unique</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tag Clouds</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">Inspiration</a></li>
                        <li><a href="#">Motivation</a></li>
                        <li><a href="#">PSD</a></li>
                        <li><a href="#">Responsive</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
{% endblock %}