{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Register</h4>
                        <h2>Registrese en nuestra página web </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="about-us">

    {{ form_start(registrationForm) }}
         {{ form_row(registrationForm.email,  {'attr': {'class':'form-control'}}) }}
         {{ form_row(registrationForm.name,  {'attr': {'class':'form-control'}}) }}

        {{ form_row(registrationForm.plainPassword, { label: 'Password', 'attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

</section>
{% endblock %}
