<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="{{asset('./css/estilos.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>{% block title %}Infotel {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{{asset('lib/flaticon/font/flaticon.css')}}" rel="stylesheet">
    

</head>
<body>
<div id="contenedor">
    <header class="encabezado">
        <img src="{{asset('./img/logo.png')}}" id="logo" href="{{ path('index')}}">
        <div class="textoheader">
            <h1 id="titulo">Infotel</h1>
            <p id="texto">Tu tienda de smartphones de confianza.</p>
        </div>
        <nav class="barra_de_navegacion" id="barra_de_navegacion">
            <ul>
                <li><a id="inicio" href="{{ path('index') }}">Inicio</a></li>
                <li><a id="productos" href="{{ path('productos') }}">Productos</a></li>
                <li><a id="contacto" href="{{ path('contacto') }}">Contacto</a></li>
                <li><a id="carrito" href ="{{ path('app_cart' )}}">Carrito</a></li>
            </ul>
        </nav>
        <div class="menu-toogle" id="icono">
            <i class="fa fa-bars"></i>
        </div>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg>
        </div>
    </header>

    {% block body %}
    {% endblock %}

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <h2>Infotel</h2>
                <p>Pagina web desarrollada para la asignatura de diseño de desarrollo web entorno cliente</p>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Somos una empresa situada en Castellón de la plana. </p>
                <p>Siempre intentamos ofrecer los mejores precios junto con la mayor calidad y satisfación del cliente posible.</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2022 <b>David Balaguer</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
    {% include('partials/_infoProduct.html.twig') %}
    {% include('cart/cartModal.html.twig') %}
</div>
    
    <script type="text/javascript" src="{{asset('./javascript/menu.js')}}"></script>
    <script type="text/javascript" src="{{asset('./javascript/productos.js')}}"></script>
    <script type="text/javascript" src="{{asset('./javascript/onload.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{asset('./javascript/app.js')}}"></script>
</body>
</html>